asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
dj-database-url
Django
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
djoser
drf-yasg
drf-yasg2
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
oauthlib
packaging
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
simplejwt
six
social-auth-app-django
social-auth-core
sqlparse
typing
typing_extensions
tzdata
uritemplate
urllib3
